@import "./Color.scss";
.rating-container {
  display: flex;
  flex-direction: row;

  .rate-icon {
    height: 30px;
  }
  .rated {
    path {
      fill: $First-color;
    }
  }
}
@media screen and(min-width:768px) {
  .rating-container {
    align-self: flex-end;
  }
}
@media screen and(max-width:768px) {
  .rating-container {
    .rate-icon {
      height: 20px;
    }
  }
}
