* {
  box-sizing: border-box; }

@font-face {
  font-family: Montserrat;
  font-display: fallback;
  src: url(../../polices/Montserrat-Regular.otf); }

.App {
  font-family: Montserrat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    text-decoration: underline; }
