.background-about {
  width: 100%;
  height: 200px;
  background: url(../../assets/kalen-emsley-Bkci_8qcdvQ-unsplash.jpg) no-repeat;
  background-size: 100%;
  border-radius: 1em;
  background-position: 50% 40%; }
