@keyframes appearImage {
  from {
    opacity: 0; }
  to {
    opacity: 100%; } }

.carrousel-container {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 20px; }
  .carrousel-container .picture {
    object-fit: cover;
    width: 100%;
    height: 100%;
    animation-name: appearImage;
    animation-duration: 1s;
    animation-timing-function: ease-in-out; }
  .carrousel-container .active-picture {
    display: inline-block; }
  .carrousel-container .inactive-picture {
    display: none; }
  .carrousel-container .current-slide-block {
    position: absolute;
    display: inline-block;
    width: auto;
    color: white;
    bottom: 0;
    right: 50%;
    left: 50%;
    font-size: 18px;
    z-index: 1; }
  .carrousel-container .carrousel-button-container {
    display: flex;
    padding: 0px 20px;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0;
    bottom: 0;
    margin: auto; }
    .carrousel-container .carrousel-button-container .btn-slider {
      background-color: inherit;
      border: none;
      padding: 0;
      cursor: pointer; }
      .carrousel-container .carrousel-button-container .btn-slider svg {
        width: 40px;
        height: 40px; }
        .carrousel-container .carrousel-button-container .btn-slider svg:hover path {
          fill: #ff6060; }
        .carrousel-container .carrousel-button-container .btn-slider svg path {
          fill: white;
          transition: 1s; }

@media screen and (max-width: 426px) {
  .carrousel-container {
    height: 250px; } }
