.rating-container {
  display: flex;
  flex-direction: row; }
  .rating-container .rate-icon {
    height: 30px; }
  .rating-container .rated path {
    fill: #ff6060; }

@media screen and (min-width: 768px) {
  .rating-container {
    align-self: flex-end; } }

@media screen and (max-width: 768px) {
  .rating-container .rate-icon {
    height: 20px; } }
