.rent-container {
  position: relative;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  background-color: #ff6060;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  justify-self: center;
  width: 350px;
  min-width: 200px;
  height: 350px;
  margin: 50px;
  border-radius: 10px; }
  .rent-container:hover .rent-banner-container img {
    height: 150%; }
  .rent-container .rent-banner-container {
    position: absolute;
    height: 350px;
    width: 350px;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden; }
    .rent-container .rent-banner-container img {
      object-fit: cover;
      mask-image: linear-gradient(to bottom, black 30%, rgba(0, 0, 0, 0) 80%);
      height: 110%;
      object-position: 50% 90%;
      transition: 1.2s ease-in-out; }
  .rent-container .rent-title {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: auto;
    display: inline;
    text-align: start;
    font-size: 20px;
    z-index: 1;
    transition: 0.7s ease-in-out;
    cursor: pointer; }
    .rent-container .rent-title:hover {
      text-shadow: 0px 1px 2px white; }
