.user-container {
  display: flex;
  align-items: center; }
  .user-container .user-name {
    margin: 5px;
    text-align: end;
    font-size: 18px;
    display: flex; }
  .user-container .user-avatar {
    border-radius: 100%;
    margin: 5px;
    height: 80px; }

@media screen and (max-width: 768px) {
  .user-container .user-name {
    font-size: 14px; }
  .user-container .user-avatar {
    height: 50px; } }
